<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" strict="true" name="XMLConfigTest">
  <Properties>
    <Property name="filename">testSpringBoot</Property>
    <!--指定log位置 tomcat会在logs文件夹下面，jetty会在项目同级目录logs -->
    <Property name="logdir">G:/logs</Property>
  </Properties>
  <Filter type="ThresholdFilter" level="trace" />
  <!--先定义所有的appender- -->
  <Appenders>
    <Console name="console">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %5p %c{1}:%L - %m%n" />
      <param name="Encoding" value="UTF-8" />
    </Console>
    <RollingFile name="MangerInfoRollingFile" fileName="${logdir}/async-${filename}-info.log" filePattern="${logdir}/$${date:yyyy-MM}/async-${filename}-info-%d{MM-dd-yyyy}-%i.log.tar.gz">
      <!--每日分割日志 -->
      <CronTriggeringPolicy schedule="0 0 0 1/1 * ? " />
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %5p %c{1}:%L - %m%n" />
      <param name="Encoding" value="UTF-8" />
    </RollingFile>
    <RollingFile name="OtherRollingFile" fileName="${logdir}/${filename}.log" filePattern="${logdir}/$${date:yyyy-MM}/${filename}-%d{MM-dd-yyyy}-%i.log.tar.gz">
      <CronTriggeringPolicy schedule="0 0 0 1/1 * ? " />
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %5p %c{1}:%L - %m%n" />
      <param name="Encoding" value="UTF-8" />
    </RollingFile>
  </Appenders>

  <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="OtherRollingFile" />
      <AppenderRef ref="console" />
    </Root>
    <AsyncLogger name="com.admin" level="INFO" includeLocation="true" additivity="false">
      <AppenderRef ref="MangerInfoRollingFile" />
      <AppenderRef ref="console" />
    </AsyncLogger>
    <AsyncLogger name="com.daikuan.platform.mc" level="INFO" includeLocation="true" additivity="false">
      <AppenderRef ref="MangerInfoRollingFile" />
      <AppenderRef ref="console" />
    </AsyncLogger>
  </Loggers>

</Configuration>