<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="demo.db.mabatis.dao.AdminOperationLogMapper">
  <resultMap id="BaseResultMap" type="demo.vo.AdminOperationLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="product_audit_status_id" jdbcType="BIGINT" property="productAuditStatusId" />
    <result column="claim_at" jdbcType="TIMESTAMP" property="claimAt" />
    <result column="submit_at" jdbcType="TIMESTAMP" property="submitAt" />
    <result column="operation" jdbcType="TINYINT" property="operation" />
    <result column="cost" jdbcType="BIGINT" property="cost" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, admin_id, product_audit_status_id, claim_at, submit_at, operation, cost, update_at
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from admin_operation_log
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from admin_operation_log
    <where>
      <include refid="where_conditions" />
    </where>
  </select>

  <select id="countByMap" parameterType="java.util.Map" resultType="java.lang.Integer">
    select
    count(1)
    from admin_operation_log
    <where>
      <include refid="where_conditions" />
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from admin_operation_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="demo.vo.AdminOperationLog">
    insert into admin_operation_log (id, admin_id, product_audit_status_id,
    claim_at, submit_at, operation,
    cost, update_at)
    values (#{id,jdbcType=BIGINT}, #{adminId,jdbcType=INTEGER}, #{productAuditStatusId,jdbcType=BIGINT},
    #{claimAt,jdbcType=TIMESTAMP}, #{submitAt,jdbcType=TIMESTAMP}, #{operation,jdbcType=TINYINT},
    #{cost,jdbcType=BIGINT}, #{updateAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="demo.vo.AdminOperationLog">
    insert into admin_operation_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="productAuditStatusId != null">
        product_audit_status_id,
      </if>
      <if test="claimAt != null">
        claim_at,
      </if>
      <if test="submitAt != null">
        submit_at,
      </if>
      <if test="operation != null">
        operation,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="productAuditStatusId != null">
        #{productAuditStatusId,jdbcType=BIGINT},
      </if>
      <if test="claimAt != null">
        #{claimAt,jdbcType=TIMESTAMP},
      </if>
      <if test="submitAt != null">
        #{submitAt,jdbcType=TIMESTAMP},
      </if>
      <if test="operation != null">
        #{operation,jdbcType=TINYINT},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="demo.vo.AdminOperationLog">
    update admin_operation_log
    <set>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="productAuditStatusId != null">
        product_audit_status_id = #{productAuditStatusId,jdbcType=BIGINT},
      </if>
      <if test="claimAt != null">
        claim_at = #{claimAt,jdbcType=TIMESTAMP},
      </if>
      <if test="submitAt != null">
        submit_at = #{submitAt,jdbcType=TIMESTAMP},
      </if>
      <if test="operation != null">
        operation = #{operation,jdbcType=TINYINT},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="demo.vo.AdminOperationLog">
    update admin_operation_log
    set admin_id = #{adminId,jdbcType=INTEGER},
    product_audit_status_id = #{productAuditStatusId,jdbcType=BIGINT},
    claim_at = #{claimAt,jdbcType=TIMESTAMP},
    submit_at = #{submitAt,jdbcType=TIMESTAMP},
    operation = #{operation,jdbcType=TINYINT},
    cost = #{cost,jdbcType=BIGINT},
    update_at = #{updateAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 公用的查询条件 -->
  <sql id="where_conditions">
    <if test="adminId != null">
      AND admin_id = #{adminId,jdbcType=INTEGER}
    </if>
    <if test="productAuditStatusId != null">
      AND product_audit_status_id = #{productAuditStatusId,jdbcType=BIGINT}
    </if>
    <if test="claimAt != null">
      AND claim_at = #{claimAt,jdbcType=TIMESTAMP}
    </if>
    <if test="submitAt != null">
      AND submit_at = #{submitAt,jdbcType=TIMESTAMP}
    </if>
    <if test="operation != null">
      AND operation = #{operation,jdbcType=TINYINT}
    </if>
    <if test="cost != null">
      AND cost = #{cost,jdbcType=BIGINT}
    </if>
    <if test="updateAt != null">
      AND update_at = #{updateAt,jdbcType=TIMESTAMP}
    </if>
  </sql>
</mapper>