<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daikuan.ma.dao.UserProductAuditInfoMapper">

  <resultMap id="BaseResultMap" type="com.daikuan.ma.pojo.UserProductAuditInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="audit_status" jdbcType="TINYINT" property="auditStatus" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="product_audit_id" jdbcType="BIGINT" property="productAuditId" />
    <result column="product_audit_status_id" jdbcType="BIGINT" property="productAuditStatusId" />
    <result column="current_status_code" jdbcType="INTEGER" property="currentStatusCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="id_no" jdbcType="VARCHAR" property="idNo" />
    <result column="mobilephone" jdbcType="VARCHAR" property="mobilephone" />
    <result column="relatives_name" jdbcType="VARCHAR" property="relativesName" />
    <result column="relatives_contact" jdbcType="VARCHAR" property="relativesContact" />
    <result column="colleague_name" jdbcType="VARCHAR" property="colleagueName" />
    <result column="colleague_contact" jdbcType="VARCHAR" property="colleagueContact" />
    <result column="friend_name" jdbcType="VARCHAR" property="friendName" />
    <result column="friend_contact" jdbcType="VARCHAR" property="friendContact" />
    <result column="units_name" jdbcType="VARCHAR" property="unitsName" />
    <result column="units_contact" jdbcType="VARCHAR" property="unitsContact" />
    <result column="units_province" jdbcType="VARCHAR" property="unitsProvince" />
    <result column="units_city" jdbcType="VARCHAR" property="unitsCity" />
    <result column="units_district" jdbcType="VARCHAR" property="unitsDistrict" />
    <result column="units_address" jdbcType="VARCHAR" property="unitsAddress" />
    <result column="home_province" jdbcType="VARCHAR" property="homeProvince" />
    <result column="home_city" jdbcType="VARCHAR" property="homeCity" />
    <result column="home_district" jdbcType="VARCHAR" property="homeDistrict" />
    <result column="home_address" jdbcType="VARCHAR" property="homeAddress" />
    <result column="idcard_front_path" jdbcType="VARCHAR" property="idcardFrontPath" />
    <result column="idcard_back_path" jdbcType="VARCHAR" property="idcardBackPath" />
    <result column="idcard_name" jdbcType="VARCHAR" property="idcardName" />
    <result column="photo_path" jdbcType="VARCHAR" property="photoPath" />
    <result column="video_path" jdbcType="VARCHAR" property="videoPath" />
    <result column="ftp_marker" jdbcType="INTEGER" property="ftpMarker" />
    <result column="relatives_name_status" jdbcType="TINYINT" property="relativesNameStatus" />
    <result column="colleague_name_status" jdbcType="TINYINT" property="colleagueNameStatus" />
    <result column="friend_name_status" jdbcType="TINYINT" property="friendNameStatus" />
    <result column="units_name_status" jdbcType="TINYINT" property="unitsNameStatus" />
    <result column="units_address_status" jdbcType="TINYINT" property="unitsAddressStatus" />
    <result column="home_address_status" jdbcType="TINYINT" property="homeAddressStatus" />
    <result column="idcard_front_status" jdbcType="TINYINT" property="idcardFrontStatus" />
    <result column="idcard_back_status" jdbcType="TINYINT" property="idcardBackStatus" />
    <result column="photo_status" jdbcType="TINYINT" property="photoStatus" />
    <result column="video_status" jdbcType="TINYINT" property="videoStatus" />
    <result column="apply_times" jdbcType="INTEGER" property="applyTimes" />
    <result column="send_times" jdbcType="INTEGER" property="sendTimes" />
    <result column="refuse_reason_ids" jdbcType="VARCHAR" property="refuseReasonIds" />
    <result column="weak_reason_ids" jdbcType="VARCHAR" property="weakReasonIds" />
    <result column="send_reason" jdbcType="VARCHAR" property="sendReason" />
    <result column="submit_version" jdbcType="VARCHAR" property="submitVersion" />
    <result column="handle_times" jdbcType="INTEGER" property="handleTimes" />
    <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
    <result column="audit_remarks" jdbcType="VARCHAR" property="auditRemarks" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="register_date" jdbcType="TIMESTAMP" property="registerDate" />
    <result column="apply_at" jdbcType="TIMESTAMP" property="applyAt" />
  </resultMap>

  <sql id="Base_Column_List">
    id, user_id, product_id, audit_status, admin_id, product_audit_id, product_audit_status_id,
    current_status_code, user_name, id_no,
    mobilephone, relatives_name, relatives_contact, colleague_name, colleague_contact,
    friend_name, friend_contact, units_name, units_contact,
    units_province, units_city, units_district, units_address,
    home_province,
    home_city, home_district, home_address, idcard_front_path,
    idcard_back_path,
    idcard_name, photo_path, video_path, ftp_marker,
    relatives_name_status, colleague_name_status,
    friend_name_status,
    units_name_status, units_address_status, home_address_status,
    idcard_front_status, idcard_back_status, photo_status, video_status, apply_times,
    send_times, refuse_reason_ids, weak_reason_ids, send_reason, submit_version, handle_times, approve_time,
    audit_remarks, create_at,
    update_at,register_date,apply_at
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_product_audit_info
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByExample" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_product_audit_info
    <where>
      <include refid="where_conditions" />
    </where>
    <if test="offset != null and rows != null">
      limit #{offset,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
    </if>
  </select>

  <select id="countByExample" parameterType="java.util.Map" resultType="java.lang.Integer">
    select count(1) from user_product_audit_info
    <where>
      <include refid="where_conditions" />
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user_product_audit_info
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <delete id="batchDeleteByIds" parameterType="java.util.List">
    delete from user_product_audit_info
    where id in
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item,jdbcType=BIGINT}
    </foreach>
  </delete>

  <insert id="insert" parameterType="com.daikuan.ma.pojo.UserProductAuditInfo">
    insert into user_product_audit_info (id, user_id, product_id,
    audit_status, admin_id, product_audit_id,
    product_audit_status_id, current_status_code,
    user_name, id_no, mobilephone,
    relatives_name, relatives_contact, colleague_name, colleague_contact,
    friend_name, friend_contact,
    units_name, units_contact, units_province,
    units_city,
    units_district, units_address, home_province,
    home_city,
    home_district, home_address,
    idcard_front_path, idcard_back_path, idcard_name,
    photo_path, video_path, ftp_marker,
    relatives_name_status,
    colleague_name_status,
    friend_name_status, units_name_status, units_address_status,
    home_address_status, idcard_front_status, idcard_back_status,
    photo_status, video_status, apply_times,
    send_times, refuse_reason_ids,
    weak_reason_ids, send_reason, submit_version, handle_times,
    approve_time, audit_remarks,
    create_at,
    update_at,register_date,apply_at)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT},
    #{productId,jdbcType=INTEGER},
    #{auditStatus,jdbcType=TINYINT}, #{adminId,jdbcType=INTEGER}, #{productAuditId,jdbcType=BIGINT},
    #{productAuditStatusId,jdbcType=BIGINT},
    #{currentStatusCode,jdbcType=INTEGER},
    #{userName,jdbcType=VARCHAR}, #{idNo,jdbcType=VARCHAR},
    #{mobilephone,jdbcType=VARCHAR},
    #{relativesName,jdbcType=VARCHAR}, #{relativesContact,jdbcType=VARCHAR},
    #{colleagueName,jdbcType=VARCHAR}, #{colleagueContact,jdbcType=VARCHAR},
    #{friendName,jdbcType=VARCHAR}, #{friendContact,jdbcType=VARCHAR},
    #{unitsName,jdbcType=VARCHAR}, #{unitsContact,jdbcType=VARCHAR},
    #{unitsProvince,jdbcType=VARCHAR}, #{unitsCity,jdbcType=VARCHAR},
    #{unitsDistrict,jdbcType=VARCHAR},
    #{unitsAddress,jdbcType=VARCHAR},
    #{homeProvince,jdbcType=VARCHAR},
    #{homeCity,jdbcType=VARCHAR}, #{homeDistrict,jdbcType=VARCHAR},
    #{homeAddress,jdbcType=VARCHAR},
    #{idcardFrontPath,jdbcType=VARCHAR}, #{idcardBackPath,jdbcType=VARCHAR}, #{idcardName,jdbcType=VARCHAR},
    #{photoPath,jdbcType=VARCHAR},
    #{videoPath,jdbcType=VARCHAR}, #{ftpMarker,jdbcType=INTEGER},
    #{relativesNameStatus,jdbcType=TINYINT},
    #{colleagueNameStatus,jdbcType=TINYINT},
    #{friendNameStatus,jdbcType=TINYINT}, #{unitsNameStatus,jdbcType=TINYINT},
    #{unitsAddressStatus,jdbcType=TINYINT},
    #{homeAddressStatus,jdbcType=TINYINT}, #{idcardFrontStatus,jdbcType=TINYINT},
    #{idcardBackStatus,jdbcType=TINYINT},
    #{photoStatus,jdbcType=TINYINT}, #{videoStatus,jdbcType=TINYINT}, #{applyTimes,jdbcType=INTEGER},
    #{sendTimes,jdbcType=INTEGER},
    #{refuseReasonIds,jdbcType=VARCHAR}, #{weakReasonIds,jdbcType=VARCHAR},
    #{sendReason,jdbcType=VARCHAR}, #{submitVersion,jdbcType=VARCHAR},
    #{handleTimes,jdbcType=INTEGER},
    #{approveTime,jdbcType=TIMESTAMP},
    #{auditRemarks,jdbcType=VARCHAR},
    #{createAt,jdbcType=TIMESTAMP},
    #{updateAt,jdbcType=TIMESTAMP},#{registerDate,jdbcType=TIMESTAMP},#{applyAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.daikuan.ma.pojo.UserProductAuditInfo">
    insert into user_product_audit_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="auditStatus != null">
        audit_status,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="productAuditId != null">
        product_audit_id,
      </if>
      <if test="productAuditStatusId != null">
        product_audit_status_id,
      </if>
      <if test="currentStatusCode != null">
        current_status_code,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="idNo != null">
        id_no,
      </if>
      <if test="mobilephone != null">
        mobilephone,
      </if>
      <if test="relativesName != null">
        relatives_name,
      </if>
      <if test="relativesContact != null">
        relatives_contact,
      </if>
      <if test="colleagueName != null">
        colleague_name,
      </if>
      <if test="colleagueContact != null">
        colleague_contact,
      </if>
      <if test="friendName != null">
        friend_name,
      </if>
      <if test="friendContact != null">
        friend_contact,
      </if>
      <if test="unitsName != null">
        units_name,
      </if>
      <if test="unitsContact != null">
        units_contact,
      </if>
      <if test="unitsProvince != null">
        units_province,
      </if>
      <if test="unitsCity != null">
        units_city,
      </if>
      <if test="unitsDistrict != null">
        units_district,
      </if>
      <if test="unitsAddress != null">
        units_address,
      </if>
      <if test="homeProvince != null">
        home_province,
      </if>
      <if test="homeCity != null">
        home_city,
      </if>
      <if test="homeDistrict != null">
        home_district,
      </if>
      <if test="homeAddress != null">
        home_address,
      </if>
      <if test="idcardFrontPath != null">
        idcard_front_path,
      </if>
      <if test="idcardBackPath != null">
        idcard_back_path,
      </if>
      <if test="idcardName != null">
        idcard_name,
      </if>
      <if test="photoPath != null">
        photo_path,
      </if>
      <if test="videoPath != null">
        video_path,
      </if>
      <if test="ftpMarker != null">
        ftp_marker,
      </if>
      <if test="relativesNameStatus != null">
        relatives_name_status,
      </if>
      <if test="colleagueNameStatus != null">
        colleague_name_status,
      </if>
      <if test="friendNameStatus != null">
        friend_name_status,
      </if>
      <if test="unitsNameStatus != null">
        units_name_status,
      </if>
      <if test="unitsAddressStatus != null">
        units_address_status,
      </if>
      <if test="homeAddressStatus != null">
        home_address_status,
      </if>
      <if test="idcardFrontStatus != null">
        idcard_front_status,
      </if>
      <if test="idcardBackStatus != null">
        idcard_back_status,
      </if>
      <if test="photoStatus != null">
        photo_status,
      </if>
      <if test="videoStatus != null">
        video_status,
      </if>
      <if test="applyTimes != null">
        apply_times,
      </if>
      <if test="sendTimes != null">
        send_times,
      </if>
      <if test="refuseReasonIds != null">
        refuse_reason_ids,
      </if>
      <if test="weakReasonIds != null">
        weak_reason_ids,
      </if>
      <if test="sendReason != null">
        send_reason,
      </if>
      <if test="submitVersion != null">
        submit_version,
      </if>
      <if test="handleTimes != null">
        handle_times,
      </if>
      <if test="approveTime != null">
        approve_time,
      </if>
      <if test="auditRemarks != null">
        audit_remarks,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="updateAt != null">
        update_at,
      </if>
      <if test="registerDate != null">
        register_date,
      </if>
      <if test="applyAt != null">
        apply_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
      <if test="productAuditId != null">
        #{productAuditId,jdbcType=BIGINT},
      </if>
      <if test="productAuditStatusId != null">
        #{productAuditStatusId,jdbcType=BIGINT},
      </if>
      <if test="currentStatusCode != null">
        #{currentStatusCode,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null">
        #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="relativesName != null">
        #{relativesName,jdbcType=VARCHAR},
      </if>
      <if test="relativesContact != null">
        #{relativesContact,jdbcType=VARCHAR},
      </if>
      <if test="colleagueName != null">
        #{colleagueName,jdbcType=VARCHAR},
      </if>
      <if test="colleagueContact != null">
        #{colleagueContact,jdbcType=VARCHAR},
      </if>
      <if test="friendName != null">
        #{friendName,jdbcType=VARCHAR},
      </if>
      <if test="friendContact != null">
        #{friendContact,jdbcType=VARCHAR},
      </if>
      <if test="unitsName != null">
        #{unitsName,jdbcType=VARCHAR},
      </if>
      <if test="unitsContact != null">
        #{unitsContact,jdbcType=VARCHAR},
      </if>
      <if test="unitsProvince != null">
        #{unitsProvince,jdbcType=VARCHAR},
      </if>
      <if test="unitsCity != null">
        #{unitsCity,jdbcType=VARCHAR},
      </if>
      <if test="unitsDistrict != null">
        #{unitsDistrict,jdbcType=VARCHAR},
      </if>
      <if test="unitsAddress != null">
        #{unitsAddress,jdbcType=VARCHAR},
      </if>
      <if test="homeProvince != null">
        #{homeProvince,jdbcType=VARCHAR},
      </if>
      <if test="homeCity != null">
        #{homeCity,jdbcType=VARCHAR},
      </if>
      <if test="homeDistrict != null">
        #{homeDistrict,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress != null">
        #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="idcardFrontPath != null">
        #{idcardFrontPath,jdbcType=VARCHAR},
      </if>
      <if test="idcardBackPath != null">
        #{idcardBackPath,jdbcType=VARCHAR},
      </if>
      <if test="idcardName != null">
        #{idcardName,jdbcType=VARCHAR},
      </if>
      <if test="photoPath != null">
        #{photoPath,jdbcType=VARCHAR},
      </if>
      <if test="videoPath != null">
        #{videoPath,jdbcType=VARCHAR},
      </if>
      <if test="ftpMarker != null">
        #{ftpMarker,jdbcType=INTEGER},
      </if>
      <if test="relativesNameStatus != null">
        #{relativesNameStatus,jdbcType=TINYINT},
      </if>
      <if test="colleagueNameStatus != null">
        #{colleagueNameStatus,jdbcType=TINYINT},
      </if>
      <if test="friendNameStatus != null">
        #{friendNameStatus,jdbcType=TINYINT},
      </if>
      <if test="unitsNameStatus != null">
        #{unitsNameStatus,jdbcType=TINYINT},
      </if>
      <if test="unitsAddressStatus != null">
        #{unitsAddressStatus,jdbcType=TINYINT},
      </if>
      <if test="homeAddressStatus != null">
        #{homeAddressStatus,jdbcType=TINYINT},
      </if>
      <if test="idcardFrontStatus != null">
        #{idcardFrontStatus,jdbcType=TINYINT},
      </if>
      <if test="idcardBackStatus != null">
        #{idcardBackStatus,jdbcType=TINYINT},
      </if>
      <if test="photoStatus != null">
        #{photoStatus,jdbcType=TINYINT},
      </if>
      <if test="videoStatus != null">
        #{videoStatus,jdbcType=TINYINT},
      </if>
      <if test="applyTimes != null">
        #{applyTimes,jdbcType=INTEGER},
      </if>
      <if test="sendTimes != null">
        #{sendTimes,jdbcType=INTEGER},
      </if>
      <if test="refuseReasonIds != null">
        #{refuseReasonIds,jdbcType=VARCHAR},
      </if>
      <if test="weakReasonIds != null">
        #{weakReasonIds,jdbcType=VARCHAR},
      </if>
      <if test="sendReason != null">
        #{sendReason,jdbcType=VARCHAR},
      </if>
      <if test="submitVersion != null">
        #{submitVersion,jdbcType=VARCHAR},
      </if>
      <if test="handleTimes != null">
        #{handleTimes,jdbcType=INTEGER},
      </if>
      <if test="approveTime != null">
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditRemarks != null">
        #{auditRemarks,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="registerDate != null">
        #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyAt != null">
        #{applyAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.daikuan.ma.pojo.UserProductAuditInfo">
    update user_product_audit_info
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="auditStatus != null">
        audit_status = #{auditStatus,jdbcType=TINYINT},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
      <if test="productAuditId != null">
        product_audit_id = #{productAuditId,jdbcType=BIGINT},
      </if>
      <if test="productAuditStatusId != null">
        product_audit_status_id = #{productAuditStatusId,jdbcType=BIGINT},
      </if>
      <if test="currentStatusCode != null">
        current_status_code = #{currentStatusCode,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idNo != null">
        id_no = #{idNo,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        mobilephone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="relativesName != null">
        relatives_name = #{relativesName,jdbcType=VARCHAR},
      </if>
      <if test="relativesContact != null">
        relatives_contact = #{relativesContact,jdbcType=VARCHAR},
      </if>
      <if test="colleagueName != null">
        colleague_name = #{colleagueName,jdbcType=VARCHAR},
      </if>
      <if test="colleagueContact != null">
        colleague_contact = #{colleagueContact,jdbcType=VARCHAR},
      </if>
      <if test="friendName != null">
        friend_name = #{friendName,jdbcType=VARCHAR},
      </if>
      <if test="friendContact != null">
        friend_contact = #{friendContact,jdbcType=VARCHAR},
      </if>
      <if test="unitsName != null">
        units_name = #{unitsName,jdbcType=VARCHAR},
      </if>
      <if test="unitsContact != null">
        units_contact = #{unitsContact,jdbcType=VARCHAR},
      </if>
      <if test="unitsProvince != null">
        units_province = #{unitsProvince,jdbcType=VARCHAR},
      </if>
      <if test="unitsCity != null">
        units_city = #{unitsCity,jdbcType=VARCHAR},
      </if>
      <if test="unitsDistrict != null">
        units_district = #{unitsDistrict,jdbcType=VARCHAR},
      </if>
      <if test="unitsAddress != null">
        units_address = #{unitsAddress,jdbcType=VARCHAR},
      </if>
      <if test="homeProvince != null">
        home_province = #{homeProvince,jdbcType=VARCHAR},
      </if>
      <if test="homeCity != null">
        home_city = #{homeCity,jdbcType=VARCHAR},
      </if>
      <if test="homeDistrict != null">
        home_district = #{homeDistrict,jdbcType=VARCHAR},
      </if>
      <if test="homeAddress != null">
        home_address = #{homeAddress,jdbcType=VARCHAR},
      </if>
      <if test="idcardFrontPath != null">
        idcard_front_path = #{idcardFrontPath,jdbcType=VARCHAR},
      </if>
      <if test="idcardBackPath != null">
        idcard_back_path = #{idcardBackPath,jdbcType=VARCHAR},
      </if>
      <if test="idcardName != null">
        idcard_name = #{idcardName,jdbcType=VARCHAR},
      </if>
      <if test="photoPath != null">
        photo_path = #{photoPath,jdbcType=VARCHAR},
      </if>
      <if test="videoPath != null">
        video_path = #{videoPath,jdbcType=VARCHAR},
      </if>
      <if test="ftpMarker != null">
        ftp_marker = #{ftpMarker,jdbcType=INTEGER},
      </if>
      <if test="relativesNameStatus != null">
        relatives_name_status = #{relativesNameStatus,jdbcType=TINYINT},
      </if>
      <if test="colleagueNameStatus != null">
        colleague_name_status = #{colleagueNameStatus,jdbcType=TINYINT},
      </if>
      <if test="friendNameStatus != null">
        friend_name_status = #{friendNameStatus,jdbcType=TINYINT},
      </if>
      <if test="unitsNameStatus != null">
        units_name_status = #{unitsNameStatus,jdbcType=TINYINT},
      </if>
      <if test="unitsAddressStatus != null">
        units_address_status = #{unitsAddressStatus,jdbcType=TINYINT},
      </if>
      <if test="homeAddressStatus != null">
        home_address_status = #{homeAddressStatus,jdbcType=TINYINT},
      </if>
      <if test="idcardFrontStatus != null">
        idcard_front_status = #{idcardFrontStatus,jdbcType=TINYINT},
      </if>
      <if test="idcardBackStatus != null">
        idcard_back_status = #{idcardBackStatus,jdbcType=TINYINT},
      </if>
      <if test="photoStatus != null">
        photo_status = #{photoStatus,jdbcType=TINYINT},
      </if>
      <if test="videoStatus != null">
        video_status = #{videoStatus,jdbcType=TINYINT},
      </if>
      <if test="applyTimes != null">
        apply_times = #{applyTimes,jdbcType=INTEGER},
      </if>
      <if test="sendTimes != null">
        send_times = #{sendTimes,jdbcType=INTEGER},
      </if>
      <if test="refuseReasonIds != null">
        refuse_reason_ids = #{refuseReasonIds,jdbcType=VARCHAR},
      </if>
      <if test="weakReasonIds != null">
        weak_reason_ids = #{weakReasonIds,jdbcType=VARCHAR},
      </if>
      <if test="sendReason != null">
        send_reason = #{sendReason,jdbcType=VARCHAR},
      </if>
      <if test="submitVersion != null">
        submit_version = #{submitVersion,jdbcType=VARCHAR},
      </if>
      <if test="handleTimes != null">
        handle_times = #{handleTimes,jdbcType=INTEGER},
      </if>
      <if test="approveTime != null">
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditRemarks != null">
        audit_remarks = #{auditRemarks,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateAt != null">
        update_at = #{updateAt,jdbcType=TIMESTAMP},
      </if>
      <if test="registerDate != null">
        register_date = #{registerDate,jdbcType=TIMESTAMP},
      </if>
      <if test="applyAt != null">
        apply_at = #{applyAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daikuan.ma.pojo.UserProductAuditInfo">
    update user_product_audit_info
    set user_id = #{userId,jdbcType=BIGINT},
    product_id =
    #{productId,jdbcType=INTEGER},
    audit_status = #{auditStatus,jdbcType=TINYINT},
    admin_id = #{adminId,jdbcType=INTEGER},
    product_audit_id =
    #{productAuditId,jdbcType=BIGINT},
    product_audit_status_id = #{productAuditStatusId,jdbcType=BIGINT},
    current_status_code =
    #{currentStatusCode,jdbcType=INTEGER},
    user_name = #{userName,jdbcType=VARCHAR},
    id_no = #{idNo,jdbcType=VARCHAR},
    mobilephone =
    #{mobilephone,jdbcType=VARCHAR},
    relatives_name = #{relativesName,jdbcType=VARCHAR},
    relatives_contact = #{relativesContact,jdbcType=VARCHAR},
    colleague_name = #{colleagueName,jdbcType=VARCHAR},
    colleague_contact = #{colleagueContact,jdbcType=VARCHAR},
    friend_name =
    #{friendName,jdbcType=VARCHAR},
    friend_contact = #{friendContact,jdbcType=VARCHAR},
    units_name = #{unitsName,jdbcType=VARCHAR},
    units_contact =
    #{unitsContact,jdbcType=VARCHAR},
    units_province = #{unitsProvince,jdbcType=VARCHAR},
    units_city =
    #{unitsCity,jdbcType=VARCHAR},
    units_district =
    #{unitsDistrict,jdbcType=VARCHAR},
    units_address = #{unitsAddress,jdbcType=VARCHAR},
    home_province =
    #{homeProvince,jdbcType=VARCHAR},
    home_city =
    #{homeCity,jdbcType=VARCHAR},
    home_district = #{homeDistrict,jdbcType=VARCHAR},
    home_address =
    #{homeAddress,jdbcType=VARCHAR},
    idcard_front_path =
    #{idcardFrontPath,jdbcType=VARCHAR},
    idcard_back_path = #{idcardBackPath,jdbcType=VARCHAR},
    idcard_name = #{idcardName,jdbcType=VARCHAR},
    photo_path
    = #{photoPath,jdbcType=VARCHAR},
    video_path = #{videoPath,jdbcType=VARCHAR},
    ftp_marker =
    #{ftpMarker,jdbcType=INTEGER},
    relatives_name_status =
    #{relativesNameStatus,jdbcType=TINYINT},
    colleague_name_status =
    #{colleagueNameStatus,jdbcType=TINYINT},
    friend_name_status =
    #{friendNameStatus,jdbcType=TINYINT},
    units_name_status =
    #{unitsNameStatus,jdbcType=TINYINT},
    units_address_status =
    #{unitsAddressStatus,jdbcType=TINYINT},
    home_address_status =
    #{homeAddressStatus,jdbcType=TINYINT},
    idcard_front_status =
    #{idcardFrontStatus,jdbcType=TINYINT},
    idcard_back_status =
    #{idcardBackStatus,jdbcType=TINYINT},
    photo_status = #{photoStatus,jdbcType=TINYINT},
    video_status = #{videoStatus,jdbcType=TINYINT},
    apply_times =
    #{applyTimes,jdbcType=INTEGER},
    send_times = #{sendTimes,jdbcType=INTEGER},
    refuse_reason_ids = #{refuseReasonIds,jdbcType=VARCHAR},
    weak_reason_ids
    = #{weakReasonIds,jdbcType=VARCHAR},
    send_reason =
    #{sendReason,jdbcType=VARCHAR},
    submit_version = #{submitVersion,jdbcType=VARCHAR},
    handle_times = #{handleTimes,jdbcType=INTEGER},
    approve_time =
    #{approveTime,jdbcType=TIMESTAMP},
    audit_remarks =
    #{auditRemarks,jdbcType=VARCHAR},
    create_at =
    #{createAt,jdbcType=TIMESTAMP},
    update_at =
    #{updateAt,jdbcType=TIMESTAMP},
    register_date =
    #{registerDate,jdbcType=TIMESTAMP},
    apply_at = #{applyAt,jdbcType=TIMESTAMP}
    where id =
    #{id,jdbcType=BIGINT}
  </update>

  <!-- 公用的查询条件 -->
  <sql id="where_conditions">
    <if test="userId != null">
      AND user_id = #{userId,jdbcType=BIGINT}
    </if>
    <if test="productId != null">
      AND product_id = #{productId,jdbcType=INTEGER}
    </if>
    <if test="auditStatus != null">
      AND audit_status = #{auditStatus,jdbcType=TINYINT}
    </if>
    <if test="productIds != null">
      AND product_id in
      <foreach collection="productIds" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="auditStatusArray != null and auditStatusArray.length!=0">
      AND audit_status in
      <foreach collection="auditStatusArray" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
    <if test="adminId != null">
      AND admin_id = #{adminId,jdbcType=INTEGER}
    </if>
    <if test="productAuditId != null">
      AND product_audit_id = #{productAuditId,jdbcType=BIGINT}
    </if>
    <if test="productAuditStatusId != null">
      AND product_audit_status_id = #{productAuditStatusId,jdbcType=BIGINT}
    </if>
    <if test="currentStatusCodeArray != null and currentStatusCodeArray.length!=0">
      AND current_status_code in
      <foreach collection="currentStatusCodeArray" item="currentStatusCode" index="index" open="(" separator="," close=")">
        #{currentStatusCode}
      </foreach>
    </if>
    <if test="userName != null">
      AND user_name = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="userName != null">
      and LOCATE(#{user_name,jdbcType=VARCHAR}, userName) > 0
    </if>
    <if test="fuzzyUserName!=null">
      AND LOCATE(#{fuzzyUserName}, user_name) > 0
    </if>
    <if test="idNo != null">
      AND id_no = #{idNo,jdbcType=VARCHAR}
    </if>
    <if test="mobilephone != null">
      AND mobilephone = #{mobilephone,jdbcType=VARCHAR}
    </if>
    <if test="idcardName != null">
      AND idcard_name = #{idcardName,jdbcType=VARCHAR}
    </if>
    <if test="isVersion2 != null">
      AND submit_version is not null
    </if>
    <if test="minApproveTime != null">
      <![CDATA[ AND approve_time > #{minApproveTime,jdbcType=TIMESTAMP} ]]>
    </if>
    <if test="maxApproveTime != null">
      <![CDATA[ AND approve_time <= #{maxApproveTime,jdbcType=TIMESTAMP} ]]>
    </if>
    <if test="maxUpdateAt != null">
      <![CDATA[ AND update_at <= #{maxUpdateAt,jdbcType=TIMESTAMP} ]]>
    </if>
    <if test="ignoreProductAuditIds != null and ignoreProductAuditIds.size!=0">
      AND product_audit_id not in
      <foreach collection="ignoreProductAuditIds" item="productAuditId" index="index" open="(" separator="," close=")">
        #{productAuditId}
      </foreach>
    </if>
  </sql>

  <update id="claimUserByAdmin" parameterType="java.util.Map">
    update user_product_audit_info
    set audit_status = 1,admin_id = #{adminId,jdbcType=INTEGER}
    where audit_status = 0
    <if test="userId != null">
      AND user_id = #{userId,jdbcType=BIGINT}
    </if>
    <if test="userIdArray != null and userIdArray.length != 0">
      AND user_id in
      <foreach collection="userIdArray" item="item" index="index" open="(" separator="," close=")">
        #{item}
      </foreach>
    </if>
  </update>

  <!-- 认领预约过的案件 -->
  <update id="claimOrderedMemberByAdmin" parameterType="java.util.Map">
    update user_product_audit_info
    set audit_status = 1,admin_id =
    #{adminId,jdbcType=INTEGER}
    where audit_status = 4 AND product_audit_id = #{productAuditId,jdbcType=BIGINT}
  </update>

  <!-- 更新案件状态、审核次数 -->
  <update id="updateByProductAuditId" parameterType="java.util.Map">
    update user_product_audit_info
    set audit_status = #{newAuditStatus,jdbcType=TINYINT}
    where 1=1
    <if test="productAuditId != null">
      AND product_audit_id = #{productAuditId,jdbcType=BIGINT}
    </if>
    <if test="oldAuditStatus != null and oldAuditStatus.length!=0">
      AND audit_status in
      <foreach collection="oldAuditStatus" item="item" index="index" open="(" separator="," close=")">
        #{item,jdbcType=TINYINT}
      </foreach>
    </if>
  </update>

  <update id="giveUpByProductAuditId" parameterType="java.util.Map">
    update user_product_audit_info
    set audit_status = #{auditStatus,jdbcType=TINYINT}, admin_id = null
    where 1=1
    <if test="productAuditId != null">
      AND product_audit_id = #{productAuditId,jdbcType=BIGINT}
    </if>
    <if test="oldAuditStatus != null">
      AND audit_status = #{oldAuditStatus,jdbcType=TINYINT}
    </if>
  </update>

  <update id="cancelByAdminId" parameterType="java.util.Map">
    update user_product_audit_info
    set audit_status = #{auditStatus,jdbcType=TINYINT}, admin_id = null
    where 1=1
    <if test="adminId != null">
      AND admin_id = #{adminId,jdbcType=INTEGER}
    </if>
    <if test="oldAuditStatus != null">
      AND audit_status = #{oldAuditStatus,jdbcType=TINYINT}
    </if>
  </update>

  <update id="resetAuditStatusWhenTimeout" parameterType="java.lang.Integer">
    update user_product_audit_info
    set audit_status = 0, admin_id = null
    where audit_status = 1 and 
    <![CDATA[ update_at <= date_sub(CURRENT_TIMESTAMP, interval #{timeout,jdbcType=INTEGER} second) ]]>
  </update>

  <!-- 审核总数统计 -->
  <select id="totalMa" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT count(1) FROM user_product_audit_info where 1=1 and audit_status in (12,13)
    <if test="startTime != null">
      <![CDATA[ AND approve_time >= #{startTime,jdbcType=TIMESTAMP} ]]>
    </if>
    <if test="endTime != null">
      <![CDATA[ AND approve_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </if>
  </select>

  <!-- 审核通过/拒绝数统计 -->
  <select id="countByAuditStatus" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT count(1) FROM user_product_audit_info where 1=1
    <if test="auditStatus != null">
      AND audit_status = #{auditStatus,jdbcType=TINYINT}
    </if>
    <if test="startTime != null">
      <![CDATA[ AND approve_time >= #{startTime,jdbcType=TIMESTAMP} ]]>
    </if>
    <if test="endTime != null">
      <![CDATA[ AND approve_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </if>
  </select>

  <!-- 审核通过/拒绝人数统计 -->
  <select id="countUserByAuditStatus" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT count(DISTINCT user_id) FROM user_product_audit_info where 1=1
    <if test="auditStatus != null">
      AND audit_status = #{auditStatus,jdbcType=TINYINT}
    </if>
    <if test="startTime != null">
      <![CDATA[ AND approve_time >= #{startTime,jdbcType=TIMESTAMP} ]]>
    </if>
    <if test="endTime != null">
      <![CDATA[ AND approve_time <= #{endTime,jdbcType=TIMESTAMP} ]]>
    </if>
  </select>

</mapper>