<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daikuan.platform.ma.dao.AdminTaskMapper">
    <sql id="tableName">a_admin_task</sql>
    <resultMap id="BaseResultMap" type="com.daikuan.platform.ma.pojo.AAdminTaskEntity">
        <!-- -->
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="apply_id" jdbcType="BIGINT" property="applyId" />
        <result column="product_id" jdbcType="INTEGER" property="productId" />
        <result column="admin_id" jdbcType="INTEGER" property="adminId" />
        <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
        <result column="product_audit_id" jdbcType="BIGINT" property="productAuditId" />
        <result column="claim_time" jdbcType="TIMESTAMP" property="claimTime" />
        <result column="display_time" jdbcType="TIMESTAMP" property="displayTime" />
        <result column="spend_time" jdbcType="REAL" property="spendTime" />
        <result column="claim_status" jdbcType="TINYINT" property="claimStatus" />
        <result column="approve_time" jdbcType="TIMESTAMP" property="approveTime" />
        <result column="auto_pass" jdbcType="TINYINT" property="autoPass" />
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    </resultMap>
    <sql id="Base_Column_List">
        <!-- -->
        id, user_id, apply_id, product_id, admin_id,admin_name, product_audit_id,
        claim_time, display_time,
        spend_time, claim_status, approve_time, auto_pass,
        create_at, update_at
    </sql>
    <sql id="Base_where">
        <trim prefix="where" prefixOverrides="AND |OR ">
            <if test="userId != null">
                AND user_id = #{userId,jdbcType=BIGINT}
            </if>
            <if test="applyId != null">
                AND apply_id = #{applyId,jdbcType=BIGINT}
            </if>
            <if test="productId != null">
                AND product_id = #{productId,jdbcType=INTEGER}
            </if>
            <if test="adminId != null">
                AND admin_id = #{adminId,jdbcType=INTEGER}
            </if>

            <if test="adminName != null">
                AND admin_name = #{adminName,jdbcType=VARCHAR}
            </if>
            <if test="productAuditId != null">
                AND product_audit_id = #{productAuditId,jdbcType=BIGINT}
            </if>
            <if test="claimTime != null">
                AND claim_time = #{claimTime,jdbcType=TIMESTAMP}
            </if>
            <if test="displayTime != null">
                AND display_time = #{displayTime,jdbcType=TIMESTAMP}
            </if>

            <if test="spendTime != null">
                AND spend_time = #{spendTime,jdbcType=BIGINT}
            </if>
            <if test="claimStatus != null">
                AND claim_status = #{claimStatus,jdbcType=TINYINT}
            </if>
            <if test="approveTime != null">
                AND approve_time = #{approveTime,jdbcType=TIMESTAMP}
            </if>
            <if test="autoPass != null">
                AND auto_pass = #{autoPass,jdbcType=TINYINT}
            </if>
            <if test="createAt != null">
                AND create_at = #{createAt,jdbcType=TINYINT}
            </if>
            <if test="updateAt != null">
                AND update_at = #{updateAt,jdbcType=TIMESTAMP}
            </if>

        </trim>
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!-- -->
        select
        <include refid="Base_Column_List" />
        from a_admin_task
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="select" parameterType="com.daikuan.platform.ma.pojo.AAdminTaskEntity" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from a_admin_task
        <include refid="Base_where"></include>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!-- -->
        delete from a_admin_task
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.daikuan.platform.ma.pojo.AAdminTaskEntity">
        <!-- -->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            select LAST_INSERT_ID()
        </selectKey>
        insert into a_admin_task (user_id, apply_id,
        product_id, admin_id,admin_name, product_audit_id,
        claim_time, display_time, spend_time,
        claim_status,
        approve_time, auto_pass, create_at,
        update_at)
        values (#{userId,jdbcType=BIGINT}, #{applyId,jdbcType=BIGINT},
        #{productId,jdbcType=INTEGER},
        #{adminId,jdbcType=INTEGER},
        #{adminName,jdbcType=VARCHAR},
        #{productAuditId,jdbcType=BIGINT},
        #{claimTime,jdbcType=TIMESTAMP},
        #{displayTime,jdbcType=TIMESTAMP},
        #{spendTime,jdbcType=REAL},
        #{claimStatus,jdbcType=TINYINT},
        #{approveTime,jdbcType=TIMESTAMP},#{autoPass,jdbcType=TINYINT},
        #{createAt,jdbcType=TIMESTAMP},
        #{updateAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.daikuan.platform.ma.pojo.AAdminTaskEntity">
        <!-- -->
        insert into a_admin_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="applyId != null">
                apply_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="adminId != null">
                admin_id,
            </if>
            <if test="adminName != null">
                admin_name,
            </if>
            <if test="productAuditId != null">
                product_audit_id,
            </if>
            <if test="claimTime != null">
                claim_time,
            </if>
            <if test="displayTime != null">
                display_time,
            </if>
            <if test="spendTime != null">
                spend_time,
            </if>
            <if test="claimStatus != null">
                claim_status,
            </if>
            <if test="approveTime != null">
                approve_time,
            </if>
            <if test="autoPass != null">
                auto_pass,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="applyId != null">
                #{applyId,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="adminId != null">
                #{adminId,jdbcType=INTEGER},
            </if>
            <if test="adminName != null">
                #{adminName,jdbcType=VARCHAR},
            </if>
            <if test="productAuditId != null">
                #{productAuditId,jdbcType=BIGINT},
            </if>
            <if test="claimTime != null">
                #{claimTime,jdbcType=TIMESTAMP},
            </if>
            <if test="displayTime != null">
                #{displayTime,jdbcType=TIMESTAMP},
            </if>
            <if test="spendTime != null">
                #{spendTime,jdbcType=REAL},
            </if>
            <if test="claimStatus != null">
                #{claimStatus,jdbcType=TINYINT},
            </if>
            <if test="approveTime != null">
                #{approveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="autoPass != null">
                #{autoPass,jdbcType=TINYINT},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.daikuan.platform.ma.pojo.AAdminTaskEntity">
        <!-- -->
        update a_admin_task
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="applyId != null">
                apply_id = #{applyId,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=INTEGER},
            </if>
            <if test="adminId != null">
                admin_id = #{adminId,jdbcType=INTEGER},
            </if>
            <if test="adminName != null">
                admin_name = #{adminName,jdbcType=VARCHAR},
            </if>
            <if test="productAuditId != null">
                product_audit_id = #{productAuditId,jdbcType=BIGINT},
            </if>
            <if test="claimTime != null">
                claim_time = #{claimTime,jdbcType=TIMESTAMP},
            </if>
            <if test="displayTime != null">
                display_time = #{displayTime,jdbcType=TIMESTAMP},
            </if>
            <if test="spendTime != null">
                spend_time = #{spendTime,jdbcType=REAL},
            </if>
            <if test="claimStatus != null">
                claim_status = #{claimStatus,jdbcType=TINYINT},
            </if>
            <if test="approveTime != null">
                approve_time = #{approveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="autoPass != null">
                auto_pass = #{autoPass,jdbcType=TINYINT},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updateAt != null">
                update_at = #{updateAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.daikuan.platform.ma.pojo.AAdminTaskEntity">
        <!-- -->
        update a_admin_task
        set user_id = #{userId,jdbcType=BIGINT},
        apply_id = #{applyId,jdbcType=BIGINT},
        product_id = #{productId,jdbcType=INTEGER},
        admin_id = #{adminId,jdbcType=INTEGER},
        admin_name = #{adminName,jdbcType=VARCHAR},
        product_audit_id = #{productAuditId,jdbcType=BIGINT},
        claim_time = #{claimTime,jdbcType=TIMESTAMP},
        display_time = #{displayTime,jdbcType=TIMESTAMP},
        spend_time = #{spendTime,jdbcType=REAL},
        claim_status = #{claimStatus,jdbcType=TINYINT},
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
        auto_pass = #{autoPass,jdbcType=TINYINT},
        create_at = #{createAt,jdbcType=TIMESTAMP},
        update_at = #{updateAt,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="queryProductApproveStatistics" resultType="com.daikuan.platform.ma.common.vo.AuditStatisticsVO">
        SELECT
        <!-- count(case when claim_status = 1 OR claim_status = 2 OR claim_status = 3 then 1 end) 'approveAmt', -->
        count(case when claim_status = 3 then 1 end) 'rejectTaskAmt',
        count(DISTINCT case when claim_status = 3 then user_id end) 'rejectCustomerAmt',
        count(case when claim_status = 2 then 1 end) 'agreeTaskAmt',
        count(DISTINCT case when claim_status = 2 then user_id end ) 'agreeCustomerAmt',
        count(case when auto_pass = 1 then 1 end ) 'autoPassAmt',
        count(DISTINCT case when auto_pass = 1 then user_id end ) 'autoPassCustomerAmt'
        FROM
        <include refid="tableName" />
        WHERE
        <if test="productId != null">product_id = #{productId} AND </if>
        DATE(approve_time) &gt;= DATE(#{1}) AND DATE(approve_time) &lt;= DATE(#{2});
    </select>

    <select id="queryClaimAmt" resultType="long">
        SELECT count(1)
        FROM
        <include refid="tableName" />
        WHERE
        <if test="productId != null">product_id = #{productId} AND </if>
        DATE(claim_time) &gt;= DATE(#{1}) AND DATE(claim_time) &lt;= DATE(#{2})
        AND (claim_status = 1 OR claim_status = 2 OR claim_status = 3);
    </select>


    <select id="queryApprovedAmount" resultType="long">
        SELECT count(1)
        FROM
        <include refid="tableName" />
        WHERE admin_id=#{adminId}
        AND DATE(claim_time) = CURDATE()
        AND claim_status > 1;
    </select>



</mapper>