<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.daikuan.platform.ma.dao.ARejectReasonMasterMapper">
    <resultMap id="BaseResultMap" type="com.daikuan.platform.ma.pojo.ARejectReasonMasterEntity">
        <!-- -->
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="reason_id" jdbcType="INTEGER" property="reasonId" />
        <result column="type" jdbcType="TINYINT" property="type" />
        <result column="version" jdbcType="VARCHAR" property="version" />
        <result column="cause_message" jdbcType="VARCHAR" property="causeMessage" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
        <result column="join_refuse" jdbcType="TINYINT" property="joinRefuse" />
    </resultMap>

    <sql id="Base_Column_List">
        <!-- -->
        id, reason_id, type, version, cause_message, status, create_at,
        join_refuse
    </sql>

    <insert id="bathInsert" parameterType="com.daikuan.platform.ma.pojo.ARejectReasonMasterEntity">
        insert into a_reject_reason_master (
        id, reason_id, type, version,
        cause_message,status,
        create_at, join_refuse
        )
        values
        <foreach item="item" index="index" collection="rejectReasonMasterList" separator=",">
            (
            #{item.id},#{item.reasonId},
            #{item.type},#{item.version},
            #{item.causeMessage},
            #{item.status},
            #{item.createAt},
            #{item.joinRefuse}
            )
        </foreach>
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from a_reject_reason_master
    </select>
    <select id="getRejectReasonByType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from a_reject_reason_master
        where type = #{type,jdbcType=INTEGER}
    </select>





    <select id="queryVersion" resultType="java.lang.String">
        SELECT a.version from a_reject_reason_master a limit 1
    </select>

    <!-- <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap"> select <include refid="Base_Column_List" /> from 
        a_reject_reason_master where id = #{id,jdbcType=INTEGER} </select> -->
    <!-- <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer"> delete from a_reject_reason_master where id = #{id,jdbcType=INTEGER} </delete> -->
    <insert id="insert" parameterType="com.daikuan.platform.ma.pojo.ARejectReasonMasterEntity">
        <!-- -->
        insert into a_reject_reason_master (id, reason_id, type,
        version, cause_message, status,
        create_at, join_refuse)
        values (#{id,jdbcType=INTEGER},
        #{reasonId,jdbcType=INTEGER},
        #{type,jdbcType=TINYINT},
        #{version,jdbcType=VARCHAR}, #{causeMessage,jdbcType=VARCHAR},
        #{status,jdbcType=TINYINT},
        #{createAt,jdbcType=TIMESTAMP}, #{joinRefuse,jdbcType=TINYINT})
    </insert>

    <!-- <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap"> select <include refid="Base_Column_List" /> from 
        a_reject_reason_master where id = #{id,jdbcType=INTEGER} </select> -->
    <!-- <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer"> delete from a_reject_reason_master where id = #{id,jdbcType=INTEGER} </delete> -->

    <insert id="insertSelective" parameterType="com.daikuan.platform.ma.pojo.ARejectReasonMasterEntity">
        <!-- -->
        insert into a_reject_reason_master
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="reasonId != null">
                reason_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="causeMessage != null">
                cause_message,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="joinRefuse != null">
                join_refuse,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="reasonId != null">
                #{reasonId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="version != null">
                #{version,jdbcType=VARCHAR},
            </if>
            <if test="causeMessage != null">
                #{causeMessage,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="joinRefuse != null">
                #{joinRefuse,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.daikuan.platform.ma.pojo.ARejectReasonMasterEntity">
        <!-- -->
        update a_reject_reason_master
        <set>
            <if test="reasonId != null">
                reason_id = #{reasonId,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=VARCHAR},
            </if>
            <if test="causeMessage != null">
                cause_message = #{causeMessage,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createAt != null">
                create_at = #{createAt,jdbcType=TIMESTAMP},
            </if>
            <if test="joinRefuse != null">
                join_refuse = #{joinRefuse,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.daikuan.platform.ma.pojo.ARejectReasonMasterEntity">
        <!-- -->
        update a_reject_reason_master
        set reason_id = #{reasonId,jdbcType=INTEGER},
        type = #{type,jdbcType=TINYINT},
        version =
        #{version,jdbcType=VARCHAR},
        cause_message = #{causeMessage,jdbcType=VARCHAR},
        status = #{status,jdbcType=TINYINT},
        create_at =
        #{createAt,jdbcType=TIMESTAMP},
        join_refuse = #{joinRefuse,jdbcType=TINYINT}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>